# Ignore everything by default
*

# ---- EXCEPTIONS ----
# Do NOT ignore the files you want to show on GitHub
!app.py
!frontend.html
!mnoa_backend_module.py

# Also, do not ignore the .gitignore file itself!
!.gitignore